@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("img/library.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#container {
    margin: 40px auto;
    width: 80%;
    height: 50%;
    background-color: #151414c4;
    border: 1px solid #3a3737cf;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#container > nav {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    font-family: 'Shadows Into Light';
}

nav > h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: left;
    padding: 20px;
}

nav > #add {
    font-size: 45px;
    font-style: italic;
    text-align: right;
    padding-top: 37px;
    padding-right: 29px
}

#add > #addBtn:hover {
    cursor: pointer;
}

#container > #bookTable {
    width: 100%;
    border-collapse: collapse;
}

#form-container > #bookForm {
    width: 30%;
    position: fixed;
    top: 300px;
    left: 650px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #1a1919;
    border-radius: 20px;
    font-family: 'Shadows Into Light';
    font-size: 20px;
}

th {
    font-weight: bold;
    background-color: #5c2121a3;
    border-bottom: solid 1px #b1b1b1; 
    font-family: 'Shadows Into Light'; 
}

td {
    background-color: #0003;
    border-bottom: solid 1px #b1b1b1; 
}

th, td {
     font-size: 30px;
     text-align: center;
     vertical-align: middle;
}


#bookForm #title-section > input {
    width: 80%;
}

#bookForm #author-section > input {
    width: 50%;
}

#bookForm #read-section > label {
    margin-right: 20px;
}

#bookForm > #action {
    margin: 20px auto;
    justify-content: space-around;
}

#action > #submit {
    margin-right: 20px;
}

.input {
    margin-left: 12px;
    text-align: center;
    border-radius: 20px;
}

.number {
    width: 20%;
    margin: 0 13px;
    text-align: center;
    border-radius: 20px;
}

.status {
    margin-right: 10px;
    margin-bottom: 7px;
}

.hidden {
    display:none;
}

.label-item {
    font-size: 35px;
    text-align: center;
}

.form-section {
    display: inline-flex;
    flex-direction: row;
    margin: 10px;
    justify-content: center;
}

.title-row {
    padding-left: 20px;
}

.special-row {
    width: 20%;
}

.pointer {
    cursor: pointer;
}

.opacity {
    opacity: 0.3;
}